.main{
  margin-bottom: 0vh;
}

.container{
  position: relative;
  height: 300vh;
  /* background: radial-gradient(circle, #ffffff, #a0a0a0); */
  background: linear-gradient(to bottom, #1d1264, #ffffff);
}

.stickyMask{
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  mask-image: url('/medias/mask4.svg');
  mask-position: 52.35% center;
  mask-repeat: no-repeat;
  mask-size: 80%;
}

.stickyMask video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
